/Demo-*/Data/*.wav
/Demo-*/Data/*/*.wav
/Demo-*/Data/*/*/*.wav
/Demo-*/Data/*.aup3
/Demo-*/Data/*/*.aup3
/Demo-*/Data/*/*/*.aup3
/Demo-*/Data/*.aup
/Demo-*/Data/*.log
/Demo-*/Data/*.mp3
/Demo-*/Data/*/*.mp3
/Demo-*/Data/*/*/*.mp3
/Demo-*/Data/*.flac
/Demo-*/Data/*/*.flac
/Demo-*/Data/*/*/*.flac
/Demo-*/Data/*.aiff
/Demo-*/Data/*/*.aiff
/Demo-*/Data/*/*/*.aiff
/Demo-*/Data/peaks/*.reapeaks
/Demo-*/Data/peaks/*.reapindex
/Demo-*/Media/*.wav
/Demo-*/Media/*.mp3
/Demo-*/Media/peaks/*.reapeaks
/Demo-*/Media/peaks/*.reapindex
~*
~*.*
.~*.*
*.rpp-bak
/Demo-Sonible Original/MRLab_Demo-ExtSource-AllradDec_Hannes_Test.rpp
/Demo-Sonible Original/MRLab_Demo-ExtSource-AllradDec (somebody modified).rpp
ZZZ~*
*.o
/SA-VBAP/TEMP.pd
/pd/extra/vbap/define_loudspeakerscart irgendwann mal doch neu probiert.c
/pd/extra/vbap/vbapcart backup.c
/pd/extra/vbap/vbapcart backup.dll
/pd/extra/vbap/vbapcart irgendwann mal doch neu probiert.c
/pd/extra/vbap/apply_fix.py
/pd/extra/vbap/debug_vbap.py
/pd/extra/vbap/parse_speakers.py
/pd/extra/vbap/test_gains.py
/Cave-VBAP/VBAP200.pd
