/Demo-*/Data/*.wav
/Demo-*/Data/*/*.wav
/Demo-*/Data/*/*/*.wav
/Demo-*/Data/*.aup3
/Demo-*/Data/*/*.aup3
/Demo-*/Data/*/*/*.aup3
/Demo-*/Data/*.aup
/Demo-*/Data/*.mp3
/Demo-*/Data/*/*.mp3
/Demo-*/Data/*/*/*.mp3
/Demo-*/Data/*.flac
/Demo-*/Data/*/*.flac
/Demo-*/Data/*/*/*.flac
/Demo-*/Data/*.aiff
/Demo-*/Data/*/*.aiff
/Demo-*/Data/*/*/*.aiff
/Demo-*/Data/peaks/*.reapeaks
/Demo-*/Data/peaks/*.reapindex
/Demo-*/Media/*.wav
/Demo-*/Media/*.mp3
/Demo-*/Media/peaks/*.reapeaks
/Demo-*/Media/peaks/*.reapindex
~*.*
.~*.*
*.rpp-bak
/Demo-Sonible Original/MRLab_Demo-ExtSource-AllradDec_Hannes_Test.rpp
/Demo-Sonible Original/MRLab_Demo-ExtSource-AllradDec (somebody modified).rpp
ZZZ~Archive
